{% extends 'base.html' %}

{% block title %}
BlogSpace : Compose
{% endblock %}
{% block head %} {{ super() }} {% endblock %}

{% block main %}
{% set count = 1 %}
<h1 class="text-center pt-4 pb-4 heading">Compose</h1>
<form method="POST" action="/new">
    <div class="form-group row">
        <h1 class="sub-heading">Title</h1>
    </div>
    <div class="form-group row">
        <div class="input-group">
            <textarea class="form-control form-control-lg" name="Title" placeholder="Enter title here" ></textarea>
        </div>
    </div>
    <div class = "pt-4 pb-4">
    <div class="form-group row">
        <h1 class="sub-heading">Body</h1>
    </div>
    <div class="form-group row">
        <div class="input-group">
            <textarea class="form-control form-control-sm" name="Title" placeholder="Enter your content here" rows = "21" style="width:50px;"></textarea>
        </div>
    </div>
        </div>
    <div class = "pt-4 pb-4">
    <div class="form-group row">
        <h1 class="sub-heading">Tags</h1>
    </div>
    <div class="form-group row">

        <div class="input-group">
        <textarea class="form-control" name="Title" placeholder="Enter all tags" rows = "1" style="width:50px;"></textarea>
        </div>
    </div>
        </div>
    <div class="form-group row pt-3 pb-3">
        <button type="submit" class="btn btn-outline-primary btn-lg">Upload</button>
    </div>
</form>

{% endblock %}