{% extends 'base.html' %}

{% block title %}
BlogSpace : Compose
{% endblock %}
{% block head %} {{ super() }} {% endblock %}

{% block main %}
{% set count = 1 %}
<h1 class="text-center ele" style="font-size:8vw;">Compose</h1>
<form method="POST" action="/new">
    <div class="form-group row">
        <h1 style="font-size:5vw;">Title</h1>
    </div>
    <div class="form-group row">
        <div class="input-group">
            <textarea class="form-control form-control-lg" name="Title" placeholder="Enter title here" ></textarea>
        </div>
    </div>
    <div class="form-group row">
        <h1 style="font-size:5vw;">Body</h1>
    </div>
    <div class="form-group row">
        <div class="input-group">
            <textarea class="form-control form-control-sm" name="Title" placeholder="Enter your content here" rows = "21" style="width:50px;"></textarea>
        </div>
    </div>
</form>
{% for i in range(11) %}
<p>sdwLorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>

{% endfor %}
{% endblock %}