{% extends 'base.html' %}

{% block title %}
BlogSpace : Free blog{% endblock %}
{% block head %} {{ super() }} {% endblock %}

{% block main %}

<div class="pt-4 pb-4">
<div class="card card-image border-dark"  >
      <img class="card-img" src="{{ url_for('static',filename='home-card-1.jpg') }} " alt="Card image">
      <div class="card-img-overlay text-light text-center rgba-stylish-strong " style="background: rgba(0, 0, 0, 0.5);padding-top:12vw;">

          <!-- Content -->
          <h1 class="card-title font-weight-bold heading ">WELCOME TO BLOGSPACE!</h1>
          <p class="card-text para">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Pariatur
            obcaecati vero aliquid libero doloribus ad, unde tempora maiores, ullam, modi qui quidem minima debitis
            perferendis vitae cumque et quo impedit.</p>


      </div>
    </div>
  </div>
<div class="pt-4 pb-4">
<div class="card card-image border-dark">
    <img class="card-img" src="{{ url_for('static',filename='home-card-2.jpg') }} " alt="Card image">
      <div class="card-img-overlay text-light text-left rgba-stylish-strong" style="background: rgba(0, 0, 0, 0.4);">

          <!-- Content -->
          <h2 class="card-title font-weight-bold sub-heading">Create your account</h2>
          <p class="card-text para">Lorem ipsum dolor sit amet, consectetur adipisicing elit. </p>
          <a class="btn text-light" style="background-color:#f08080;" href="/register">Get Started</a>

      </div>
    </div>
</div>
<div class="pt-4 pb-4">
<div class="card card-image border-dark " >
    <img class="card-img" src="{{ url_for('static',filename='home-card-3.jpg') }} " alt="Card image">
      <div class="card-img-overlay text-light text-right rgba-stylish-strong " style="background: rgba(0, 0, 0, 0.5);">


          <!-- Content -->
          <h2 class="card-title font-weight-bold sub-heading">Compose your blog</h2>
          <p class="card-text para">Lorem ipsum dolor sit amet, consectetur adipisicing elit. </p>

          <a class="btn btn-sm float-right text-light" style="background-color:#f08080 ;" href="/popular">Compose</a>


      </div>
    </div>
</div>
{% endblock %}